PORT = port-number
NODE_ENV = development | production | test
MONGO_URI = mongo-connection-string
SERVER_URL = http://localhost:3000
CLIENT_URL = http://localhost:3000
SENDER_EMAIL = sender@gmail.com
SENDER_PASSKEY = app-password
RESET_PASS_URL = http://localhost:3000/reset-password
REDIS_URL = redis://localhost:1234
JWT_ACCESS_SECRET_KEY = jwt-new-access-secret-key
JWT_REFRESH_SECRET_KEY = jwt-new-refresh-secret-key
