PORT = port-number
NODE_ENV = development | production | test
MONGO_URI = mongo-connection-string
SERVER_URL = http://localhost:port
CLIENT_URL = http://localhost:port
SENDER_EMAIL = sender@gmail.com
SENDER_PASSKEY = app-password
RESET_PASS_URL = http://localhost:port/reset-password
REDIS_URL = redis://redis-cloud-url
JWT_ACCESS_SECRET_KEY = jwt-new-access-secret-key
JWT_REFRESH_SECRET_KEY = jwt-new-refresh-secret-key

AWS_REGION = your-aws-region
AWS_ACCESS_KEY_ID = your-access-key
AWS_SECRET_ACCESS_KEY = your-secret-key
AWS_S3_BUCKET = your-bucket-name

PAYPAL_CLIENT_ID = your-paypal-client-id
PAYPAL_SECRET_KEY = your-paypal-secret-key
PAYPAL_BASE_URL = https://api-m.sandbox.paypal.com
PAYPAL_REDIRECT_URL = http://localhost:port